<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>create new Item</h1>
    <form action="/StoreUrItems" method="POST">
      Name: <li><input type="text" name="name"></li><br/>
      serial Number: <li><input type="text" name="serialNumber"></li><br/>
      Id Number: <li><input type="text" name="idNumber"></li><br/>
      <input type="submit" value="Log new item">
    </form>
  </body>
</html>
