<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>show page</h1>
    <ul>
      <li><%=items.name%></li>
      <li><%=items.serialNumber%></li>
      <li><%=items.idNumber%></li>
    </ul>
    <a href="/storeuritems">Home</a>
  </body>
</html>
