<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action=''>
    <nav>
      <input type="submit" name="" value="Sign Up">
    </nav>
    </form>
    <form action=''>
    <nav>
      <input type="submit" name="" value="Sign in">
    </nav>
    </form>
    <h1>Home page</h1>
      <% for (let i = 0; i < items.length; i++){%>
        <li>
            <a href="/storeuritems/<%=items[i].id%>">
            <%=items[i].name%></a></li>
            <li>Serial Number:<%=items[i].serialNumber%></li>
            <li>Id Number: <%=items[i].idNumber%></li><br/>
      <%}%>
  </body>
</html>
